    /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/05/2017, 08:16:08 PM
    Author     : Ayrton
*/
.botonPausa{
    position: absolute;
    padding-left: 90%;
}
body {
    background-color: black;
}
li{
    color: white;
}
.Score{
    font-size: 300%;
    padding-top: 4%;
    color:white;
    position: absolute;
    left: 4%;
    
}
.menuVisible{
    position: absolute;
    padding-left: 35%;
    padding-top: 20%;
    
}

.menuInvisible{
    visibility:hidden;
    position: absolute;
    
}

.lblNinckname{
    color:white;
    font-size: 300%;

}
.lblNicknameJugador{
        position: absolute;
    padding-top: 2%;
}

.facebookShare{
    position: absolute;
    
}

